*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.navigationlinks a{
    text-decoration: none;
   
    font-size: 32px;
}
.navigationlinks a:hover{
    border-bottom: 2px solid blue;
    color: black;
}